version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      dependencies:
        patterns:
        - "*"
    labels:
      - "dependencies"
    target-branch: "main"
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "main"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"