name: Build

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: true
      matrix:
        java_version: [21, 25]
    steps:
    - uses: actions/checkout@v6.0.2
    - name: Set up Java
      uses: actions/setup-java@v5.2.0
      with:
        java-version: ${{ matrix.java_version }}
        distribution: 'zulu'
        java-package: 'jdk'
        cache: 'maven'
    - name: Install Maven Daemon
      id: install-mvnd
      uses: ./.github/actions/install-mvnd
      with:
        version: '1.0.3'
        file-version-suffix: ''
        cache: 'true'
    - name: Build with Maven
      run: |
        rm -rf ~/.m2/io/github/cbarlin && \
        ${{ steps.install-mvnd.outputs.mvnd-dir }}/mvnd -V -B --no-transfer-progress -T 1C clean install -B && \
        ${{ steps.install-mvnd.outputs.mvnd-dir }}/mvnd -V -B --no-transfer-progress -T 1C clean verify artifact:compare && \
        rm -rf ~/.m2/io/github/cbarlin
    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v5.5.2
      if: matrix.java_version == 25
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    - name: Upload test results
      uses: codecov/test-results-action@v1.2.1
      if: matrix.java_version == 25
      with:
        token: ${{ secrets.CODECOV_TOKEN }}